    
.row
  .span8
    %h2 Add a Game
    = simple_form_for @game, :wrapper => "inline" do |f|
      = f.association :winner, :include_blank => false
      = f.association :loser, :include_blank => false
      = f.button :submit, :class => 'primary'

    %h2 Add a Player
    = simple_form_for @player, :wrapper => "inline" do |f|
      = f.input :name
      = f.button :submit, :class => 'primary'

  .span8
    %h2 Rankings
    %table
      %thead
        %tr
          %th Rank
          %th Name
          %th Rating
          %th Wins
          %th Losses
      %tbody
        - @players.each_with_index do |player,index|
          %tr
            %td= index+1
            %td= player.name
            %td= player.rating
            %td= player.wins.count
            %td= player.losses.count