!!! 5
-ie_html :class => 'no-js', :lang => 'en' do
  %head
    = render "layouts/head", :stylesheet_partial => "layouts/stylesheets"
  
  %body{ :class => "#{controller.controller_name}" }
    %header
      = render "layouts/header"

    #main{ :role => 'main' }
      = render "layouts/flashes"
      = yield
      
    %footer
      = render "layouts/footer"
        
    -# Javascript at the bottom for fast page loading
    = render "layouts/javascripts"
